* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 24px;
}

.form {
  display: flex;
  margin-bottom: 40px;
}

.form__input {
  display: block;
  padding: 8px 16px;
}

#timeZone {
  width: 150px;
}

.form__label {
  margin-right: 8px;
}

.form__btn {
  align-self: end;
  padding: 8px 16px;
}

.watches-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.watches-item {
  margin-right: 24px;
  margin-bottom: 16px;
}

.watch__title {
  position: relative;
  text-align: center;
  margin-bottom: 8px;
}

.watch__close {
  position: absolute;
  top: 24px;
  right: -5px;
  transition: .3s;
  cursor: pointer;
}

.watch__close:hover {
  color: red;
}

.watch__body {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 50%;
}

.watch__center {
  position: absolute;
  top: calc(50px - 3px);
  left: calc(50px - 3px);
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
}

.watch__hourHand, .watch__minuteHand, .watch__secondHand {
  position: absolute;
  left: 50px;
  width: 1px;
  transform: rotate(0deg);
  transform-origin: bottom;
}

.watch__hourHand {
  top: 25px;
  height: 25px;
  background-color: #000;
}

.watch__minuteHand {
  top: 0;
  height: 50px;
  background-color: #000;
}

.watch__secondHand {
  top: 0;
  height: 50px;
  background-color: red;
}